<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">KHAYA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">ORDERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PRODUCTS</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">TABLES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CUSTOMERS</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">BILLS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MENU</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">STAFF</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LOGOUT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>