<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">KHAYA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/orders']" routerLinkActive="router-link-active" >ORDERS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PRODUCTS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/addproduct']" routerLinkActive="router-link-active" >ADD PRODUCTS</a>
              <a class="dropdown-item" [routerLink]="['/viewproduct']">VIEW PRODUCTS</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              TABLES
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">ADD TABLES</a>
              <a class="dropdown-item" href="#">VIEW TABLES</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CUSTOMERS</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">BILLS</a>
          </li> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              MENU
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">ADD MENU ITEM</a>
              <a class="dropdown-item" href="#">VIEW  MENU ITEM</a>
            </div>
          </li>   
         
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              STAFF
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">ADD NEW MEMBER</a>
              <a class="dropdown-item" href="#">VIEW  STAFF</a>
              <a class="dropdown-item" href="#">VIEW  SCHEDULE</a>
            </div>
          </li>   
          <li class="nav-item">
            <a class="nav-link" href="#">LOGOUT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>