
    <div class="row text-center container">
        <div  *ngFor="let product of producta" class="col-lg-4 col-md-4 mb-4">
          <div class="card ">
            <img class="card-img-top" src="assets/images/{{product.productImg}}.jpg" alt="">
            <div class="card-body">
                <div class="row">
                              <div class="col-md-4 col-lg-4 col-sm-12">
                                  <div class="btn btn-primary disabled">
                                      
                                   {{product.productName}}
                                  </div>
                              </div>
                              <div class="col-md-4 col-lg-4 col-sm-12">
                               <div class="btn btn-warning disabled">
                                R  {{product.price}}
                               </div>
                              </div>
                              <!--instock-->
                              <div class="col-md-4 col-lg-4 col-sm-2">
                                <div class="btn btn-warning disabled">
                                    Instock
                                   </div>
                              </div>
                             
                             <div class="col-12 mt-2">
                                <div class="btn btn-primary btn-block" routerLink="/productdetails">
                                 VIEW DETAILS
                                </div>
                             </div>
                </div>
            </div>
          </div>
        </div>
      </div>