
    <div class="row text-center ml-4 mr-4 ">
        <div  *ngFor="let product of producta" class="col-lg-2 mt-4  col-md-4 mb-4">
          <div class="card ">
            <img class="card-img-top" src="assets/images/{{product.pImage}}.jpg" alt="">
            <div class="card-body">
                <div class="row">
                              <div class="col-md-4 col-lg-4 col-sm-12">
                                  <div class="btn btn-primary disabled">
                                      
                                   {{product.pName}}
                                  </div>
                              </div>
                              <div class="col-md-4 col-lg-4 col-sm-12">
                               <div class="btn btn-warning disabled">
                                R  {{product.pPrice}}
                               </div>
                              </div>
                              <!--instock-->
                              <div class="col-md-12 col-lg-12 col-sm-12">
                                <div class="btn btn-danger" (click)="addToCart(product)">
                                    ADD TO CART
                                   </div>
                              </div>
                              <div class="col-md-12 col-lg-12 col-sm-2">
                                {{product.pDescription}}
                            </div>
                </div>
            </div>
          </div>
        </div>
      </div>