<div class="container">
    <div class="card">
        <div class="card-header text-center">
            ADD PRODUCT
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="inputEmail4" placeholder="PRODUCT NAME">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="inputPassword4" placeholder="PRODUCT PRICE">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="inputPassword4" placeholder="PRODUCT QUANTITY">
                  </div>
                  <div class="form-group col-md-6">
                    <select id="inputState" class="form-control">
                      <option selected>CHOOSE PRODUCT CATEGORY</option>
                      <option>FOOD</option>
                      <option>DRINKS</option>
                      <option>ALCOHOL</option>
                    </select>
                  </div>
                  <div class="custom-file col-md-12">
                    <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                    <label class="custom-file-label text-center" for="validatedCustomFile">UPLOAD PRODUCT IMAGE</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                  </div>
                  <div class="form-group col-md-12 mt-2">
                      <textarea class="form-control text-center" placeholder="PRODUCT DESCRIPTION"></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
              </form>
        </div>
    </div>
</div>