
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-5">WELCOME TO KHAYA RESTAURANT</h1>
      <p class="lead">WE SERVE HEALTHY & QUALITY FOOD</p>
        </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div  *ngFor="let product of producta" class="col-lg-4 col-md-4 mb-4">
        <div class="card h-70">
          <img class="card-img-top" src="assets/images/{{product.pImage}}.jpg" alt="">
          <div class="card-body bg-primary">
              <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                 {{product.pName}}
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                              R  {{product.pPrice}}
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                            Total : {{product.pQuantity}}
                            </div>
                            <!--instock-->
                            <div class="col-md-6 col-lg-6 col-sm-2">
                                Instock
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-2">
                              {{product.pDescription}}
                          </div>
                            <div class="col-md-12 col-lg-12 col-sm-12">
                              <div class="btn btn-danger btn-block" (click)="deleteProduct(product.id)">DELETE</div>
                         </div>
                           
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>