
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-5">WELCOME TO KHAYA RESTAURANT</h1>
      <p class="lead">WE SERVE HEALTHY & QUALITY FOOD</p>
        </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div  *ngFor="let product of producta" class="col-lg-4 col-md-4 mb-4">
        <div class="card h-70">
          <img class="card-img-top" src="assets/images/{{product.productImg}}.jpg" alt="">
          <div class="card-body">
              <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                 {{product.productName}}
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                {{product.price}}
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                            Total : {{product.quantity}}
                            </div>
                            <!--instock-->
                            <div class="col-md-6 col-lg-6 col-sm-2">
                                Instock
                            </div>
                           
                           <div class="col-12 mt-2">
                              <div class="btn btn-primary btn-block" routerLink="/productdetails">
                               VIEW DETAILS
                              </div>
                           </div>
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>