<div class="container">
    <div class="card mt-4" >
        <img src="assets\images\burger.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="row">
                <div class=" card col-6">
                     <ul class="list-group list-group-flush ">
                            <li class="list-group-item  text-center  ">PRODUCT INFORMATION</li>
                            <div class="row">
                                <div class="col-6">
                                    <li class="list-group-item">Name</li>
                                    <li class="list-group-item">Price</li>
                                    <li class="list-group-item">Quantity</li>
                                    <li class="list-group-item">Total sold</li>
                                    <div class="btn btn-warning btn-block edilete">
                                        EDIT
                                    </div>
                                </div>
                                <div class=" col-6">
                                    <li class="list-group-item">Name</li>
                                    <li class="list-group-item">Price</li>
                                    <li class="list-group-item">Name</li>
                                    <li class="list-group-item">Price</li>
                                    <div class="btn btn-danger btn-block edilete   ">
                                        DELETE
                                    </div>
                                </div>
                            </div>
                  </ul>
                </div>
                <div class=" card col-6 ">
                       <p class="text-center">
                           PRODUCT DESCRIPTION
                       </p>
                       <p>Khaya is an online web based application that aims to digitalize the process of various restaurant management operations including ordering and inventory management. This document aims to capture the system requirements and features particularly related to ordering and inventory management to be implemented in the Khaya restaurant management system version 1.0. This document is intended to be used by the project team, they will use the document to implement and to verify that all the functions of the system are well functioning. All the requirements mentioned in this document are to be considered as of high priority. </p>
                </div>
            </div>
      </div>
</div>
    <div class="row">
            <div class="col-lg-3 prene">
                <div class="btn btn-primary btn-block">
                    PREVIOUS
                </div>
            </div> 
            <div class="col-lg-3 prene">
                <div class="btn btn-primary btn-block">
                    NEXT
                </div>
            </div>
</div>