<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image">
              <img src="assets\images\peperon.jpg" alt="">
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form [formGroup]="RegisterUser" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control " formControlName="CfirstName" placeholder="First Name">
                    <span class="errors" *ngIf="!NameValidator.valid && NameValidator.touched">Name Required</span>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control " formControlName="Csurname" placeholder="Surname">
                    <span class="errors" *ngIf="!SurnameValidator.valid && SurnameValidator.touched">SurnameRequired</span>
                  </div>
                </div>
                <div class="form-group">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="email" class="form-control " formControlName="Cemail" placeholder="Email Address">
                    <span class="errors" *ngIf="!EmailValidator.valid && EmailValidator.touched">Email Required</span>
                </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="email" class="form-control" formControlName="Ccellphone" placeholder="Cellphone">
                    <span class="errors" *ngIf="!CellphoneValidator.valid && CellphoneValidator.touched">Cellphone Required</span>
                </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control " formControlName="Cpassword" placeholder="Password">
                    <span class="errors" *ngIf="!PasswordValidator.valid && PasswordValidator.touched">Password Required</span>
                </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control" formControlName="Cconfirm" placeholder="Repeat Password">
                    <span class="errors" *ngIf="!ConfirmPasswordValidator.valid && ConfirmPasswordValidator.touched">Confirm Password</span>
                    <span class="errors" *ngIf="RegisterUser.hasError('notSame') &&  ConfirmPasswordValidator.valid "> Password Not Matching</span>
               
                  </div>
                </div>
                <a href="login.html" class="btn btn-primary btn-user btn-block">
                  Register Account
                </a>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" [routerLink]="['/login']" routerLinkActive="router-link-active" >Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>